!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %script{'data-main' => 'js/bootstrap.js', 'src' => 'js/vendor/require.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'css/style.css'}
  %body
    .container
      .gameContainer
        .main-menu
          %h1 The Lone Clone
          %a.start.button Commence!
        .level-select
          %table.levels
            - (0..9).each do |i|
              %tr
                - (1..10).each do |ii|
                  - level_count = (10 * i) + ii
                  %td.level{:data => {:level => level_count}}
                    = level_count
        .playground
          .level-fail.popup
            .message
              %h2 Bejabbers!
              %h3 You became dead.
              %h4 Press SPACE and I'll pretend it never happened.
          .level-complete.popup
            .message
              %h2 Huzzah!
              %h3 You are one step closer to enlightenment.
              %h4 Press SPACE to ascend to the next level
          .paused.popup
            .message
              %h2 PAUSED
              %h3 Please take this time to reflect on the inevitable heat death of the universe.
              %a.button.resume Resume
              %a.button.level-select Level Select
          %canvas#trippyBackground{:width => 600, :height => 400}
          %canvas#background{:width => 600, :height => 400}
          %canvas#foreground{:width => 600, :height => 400}
          //%canvas#canvas{:width => 600, :height => 400}
        .audioManager
          .musicPlayer
          .controls
            %a.playing &#9835;
            %a.paused &#9835;
            %span.songInfo
              Now playing:
              %span.songTitle ...
              by
              %a.artistName{:href => 'http://freemusicarchive.org/music/Pietnastka/', :target => '_blank'} Pietnastka
      %hr
      .credits
        %h2 Music
        Pietnastka (Piotr Kurek) -
        %a{:href => 'http://www.piotrkurek.com/'}Website
        \-
        %a{:href => 'http://freemusicarchive.org/music/Pietnastka/'}FreeMusicArchive.org

        %h2 Textures
        %a{:href => 'http://opengameart.org/users/bart'}Bart
        from
        %a{:href => 'http://opengameart.org'} OpenGameArt.org
        \-
        %a{:href => 'http://opengameart.org/content/19-high-res-stone-and-concrete-texture-photos'}Texture Pack

        %h2 Physics
        %a{:href => 'http://code.google.com/p/box2dweb/'}box2dweb

        %h2 Everything else
        %a{:href => 'http://twitter.com/james_gary'}James Gary
