!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %script{'data-main' => 'js/bootstrap.js', 'src' => 'js/vendor/require.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'css/style.css'}
  %body
    .container
      .main-menu
        %h1 The Lone Clone
        %a.start Commence!
      .level-select
        - (1..100).each do |i|
          .level{:data => {:level => i}}
            = i
      .playground
        %canvas#canvas{:width => 600, :height => 400}
        %canvas#my-canvas{:width => 600, :height => 400}
