!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %script{'data-main' => 'js/bootstrap.js', 'src' => 'js/vendor/require.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => 'css/style.css'}
  %body
    .container
      .main-menu
        %h1 The Lone Clone
        %a.start Commence!
      .level-select
        %table.levels
          - (0..9).each do |i|
            %tr
              - (1..10).each do |ii|
                - level_count = (10 * i) + ii
                %td.level{:data => {:level => level_count}}
                  = level_count
      .playground
        .level-fail
          .message
            %h2 Bejabbers!
            %h3 You became dead.
            Some text to say 'hit any key to restart' or something
        .level-complete
          .message
            %h2 Huzzah!
            %h3 You are one step closer to enlightenment.
            %h4 Advance to a new level...
            Some text to say 'hit any key to advance' or something
        %canvas#my-canvas{:width => 600, :height => 400}
        //%canvas#canvas{:width => 600, :height => 400}
