@import 'compass/css3';

@mixin outline($thickness, $color) {
  $pt: $thickness;
  $nt: (-1 * $thickness);
  @include text-shadow(
    $pt $pt $pt $color,
    $pt $nt $pt $color,
    $nt $pt $pt $color,
    $nt $nt $pt $color
  );
}

html, body {
  font: normal 12px/1.5em "Lucida Grande", "Verdana", sans-serif;
  margin: 0;
  padding: 0;
  background: #549E39;
}
.container {
  border: 2px solid black;
  margin: 20px auto;
  width: 600px;
  height: 400px;
  & > div {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .main-menu {
    background: #003B06;
    text-align: center;
    h1 {
      $orange: #ff8a00;
      @include outline(4px, rgba(200, 100, 100, 0.3));
      color: $orange;
      font-size: 48px;
      margin: 64px 0;
      text-align: center;
    }
    a.start {
      @include box-shadow(2px 2px 15px black);
      @include border-radius(30px);
      @include background-image(linear-gradient(top left, #7af 15px, #59e 40px));
      @include text-shadow(1px 1px 3px black);
      color: white;
      cursor: pointer;
      display: inline-block;
      font-size: 24px;
      margin: 32px;
      padding: 36px 48px;
      position: relative;
      text-align: center;
    }
  }
  .credits {
    display: none;
  }
  .level-select {
    display: none;
    text-align: center;
    table.levels {
      border: 0;
      border-collapse: collapse;
      height: 100%;
      width: 100%;
      td {
        background: #00ff00;
        border: 1px solid #004400;
        cursor: pointer;
        display: table-cell;
        padding: 0;
        vertical-align: middle;
        width: 10%;
        &:hover {
          background: #00bb00;
        }
      }
    }
  }
  .playground {
    display: none;
    position: relative;
    .level-complete, .level-fail {
      background: rgba(50, 50, 50, 0.5);
      height: 100%;
      margin: 0;
      position: absolute;
      width: 100%;
      z-index: 5;
      .message {
        @include box-shadow(
          0 0 15px black,
          0 0 15px black
        );
        @include border-radius(15px);
        background: rgba(255, 255, 255, 0.9);
        border: 5px solid rgba(20, 120, 20, 0.9);
        height: 60%;
        margin: 12% 20%; // why height-margin is doubling, I'll never know why...
        text-align: center;
        width: 60%;
      }
    }
    canvas {
      position: absolute;
      background: none;
      &#foreground {
        background: url('images/dotted_bg2.png') repeat;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.compass_test {
  @include box-shadow(2px 2px 15px black);
  @include border-radius(30px);
  @include background-image(linear-gradient(top left, #7af 15px, #59e 40px));
  margin: 40px;
  padding: 20px;
  p {
    @include text-shadow(1px 1px 3px black);
    color: white;
    font-family: monospace;
    font-size: 24px;
    text-align: center;
  }
}
